* {
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 5rem calc(100vh - 6rem);
    grid-template-columns: 30% 70%;
    grid-template-areas: "header header" "aside main";

    row-gap: 1rem;
}

header {
    padding: 0 10vw;
    grid-area: header;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

/* Cabeçalho */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #101010;
}

.logomarca, .usuario {
    display: flex;
    align-items: center;
}

.logomarca {
    color: white;
    font-family: Montserrat;
    font-weight: bolder;
}
.logomarca, img{
    width: 40%;
    height: 90%;
}
.usuario {
    display: flex;
    gap: .5rem;
    color: white;
    background-color: rgb(19, 62, 153);
    /*box-shadow: inset -5px -8px 5px 0px rgb(33, 78, 173);*/
    padding: .5rem .75rem;
    border-radius: 2rem;
    font-family: Inter Tight;
}

.usuario img {
    max-height: 2rem;
    border-radius: 50%;
}

.usuario p {
    font-weight: bold;
}

/* Escolha de MatchLists */

aside {
    display: flex;
    flex-direction: column;
}

aside section {
    display: flex;
    gap: .5rem;
}

aside button {
    box-sizing: border-box;
    cursor: pointer;
    
    font-size: 14pt;
    font-weight: bold;
    
    min-width: 2rem;
    max-width: 2rem;
    min-height: 2rem;
    max-height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50%;

    color: white;
    background-color: rgb(19, 62, 153);
}

aside button:hover {
    background-color: rgb(16, 46, 112);
}

aside h2 , #mostrar-concordancia h2 {
    font-family: Montserrat;
}

/* Tela de seleção */

body > section {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, .3);
}

body > section form {
    width: 60vw; 

    background-color: white;
}

button { 
    box-sizing: border-box;
    cursor: pointer;
    
    font-size: 12pt;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border: none;

    color: white;
    background-color: rgb(19, 62, 153);

    border-radius: 5px;
}

#buscar-concordancia p, #mostrar-concordancia li {
    font-weight: bold;
    font-family: Montserrat;

    color: rgb(16, 43, 102);

    

    font-size: 12pt;
}

input {
    border-radius: 5px;
    border: 1px solid rgb(16, 43, 102);

    color: rgb(16, 43, 102);
}

#mostrar-concordancia {
    display: none;
}

table {
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
  
caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead, tfoot {
    background-color: rgb(228 240 245);
}

th, td {
    background-color: rgb(102, 143, 231);
    border: 1px solid rgb(255, 255, 255);
    padding: 8px 10px;
}

th img {
    display: inline;
    min-width: 5rem;
    max-width: 5rem;
    min-height: 5rem;
    max-height: 5rem;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(78, 119, 206);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}
  
#oqueFazer {
    display: block;

    color: white;
    background-color: rgb(19, 62, 153);
    font-family: Montserrat;

    margin: 1rem;

    padding: 1rem;
    border-radius: 5px;

    min-width: 20rem;
    max-width: 20rem;
    min-height: 5rem;
    max-height: 5rem;
}

#oqueFazer a {
    color: white;
    display: inline;
}

/* Fontes */

@font-face {
    font-family: Inter Tight;
    src: url(fontes/inter_tight/inter_tight.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(fontes/montserrat/montserrat.ttf);
}
