* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.jogo {
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 10rem);
}

.jogo button {
    min-width: 10rem;
    max-width: 10rem;

    border: none;
    border-radius: 0;

    font-size: 14pt;
    font-weight: bolder;
}

.jogo button:hover {
    cursor: pointer;
}

button[data-casa="3"], button[data-casa="4"],
button[data-casa="5"] {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

button[data-casa="1"], button[data-casa="4"],
button[data-casa="7"] {
    border-left: 4px solid black;
    border-right: 4px solid black;
}
