* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 1rem;
}

body > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    background-color: #101010;
}

.logomarca {
    display: flex;
    align-items: center;
    color: white;
    font-family: Montserrat;
    font-weight: bolder;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
}

footer {
    margin-top: auto;
}

/* Estilos gerais para a seção de acesso */
.acesso {
    font-family: Inter Tight;
    max-width: 400px;
    width: 100%;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 3px solid #101010;
    border-radius: .5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.acesso h2 {
    text-align: center;
}

.acesso label {
    color: rgb(34, 34, 34);
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.acesso input {
    width: 90%;
    padding: 10px;
    margin: 5px 0 15px 0;
    text-align: center;
    border-radius: 25px;
    border: 2px solid rgb(16, 43, 102);
    color: rgb(16, 43, 102);
}

.acesso input:focus {
    text-align: start;
    font-weight: bold;
    border: 3px solid rgb(16, 43, 102);
}

.acesso button {
    width: 100%;
    padding: 10px;
    margin: 1px 0;
    background-color: rgb(19, 62, 153);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.acesso button:hover {
    background-color: rgb(17, 54, 133);
}

.acesso .message {
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 20px;
    text-align: center;
    color: green;
}

.acesso .error {
    color: red;
}

@font-face {
    font-family: Inter Tight;
    src: url(fontes/inter_tight/inter_tight.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(fontes/montserrat/montserrat.ttf);
}
